
= page_header_with_add_button Budget::Account

%table.table.table-striped
  %colgroup
    %col{style: 'width: 5%'}
    %col
    %col{style: 'width: 20%'}
    %col{style: 'width: 15%'}
  %thead
    %tr
      %th
      %th Name
      %th Created
      %th Actions
  %tbody
    - collection.each do |account|
      %tr
        %td.text-center
          = account.icon
        %td= account.name
        %td= account.created
        %td
          = account.link_to_edit
          = account.link_to_delete
