= card do
  %h3 Your total budgeted spending so far this month is #{page.total_budgeted_spending}

  = page.budgeted_spending_progress_bar

= card do
  %h3 Your total spending so far this month is #{page.total_spending}, you usually earn #{page.average_recent_income}.

  = page.spending_progress_bar

= card do
  %h3= page.remaining_days_header

  = page.remaining_days_progress_bar

= card do
  %h3= page.summary

  %table.bordered
    %tr
      %th.text Category
      %th.text Budget
      %th.text Spending

    - page.overbudget_categories.each do |cat|
      %tr
        %td.text= link_to cat.name, cat.transactions_url, target: :_blank
        %td.text= cat.budget_amount
        %td.text= cat.overbudget_amount
