.page-header
  .pull-right
    = link_to "New Import Service", new_import_service_path, class: 'btn btn-primary'

  %h1 New Import Service

%table.table.table-striped
  %colgroup
    %col{style: 'width: 5%'}
    %col
    %col{style: 'width: 30%'}
    %col{style: 'width: 15%'}

  %thead
    %tr
      %th
      %th Name
      %th Type
      %th

  %tbody
    - @import_services.each do |service|
      %tr
        %td.text-center
          %i.fa.fa-2x{class: service.active ? 'fa-check-circle text-success' : 'fa-times-circle text-danger'}

        %td= service.name
        %td= service.type
        %td
          = link_to_edit_resource(service)
          = link_to_delete_resource(service)
