= page_header "Transactions"

#search
  = search_form_for query, class: "form-inline", id: 'transaction_search' do |f|
    = f.date_field :date_gteq, placeholder: "from", class: "form-control"
    = f.date_field :date_lteq, placeholder: "to", class: "form-control"
    = select_tag "q[category_id_eq]", grouped_options_for_income_and_expenses(params.fetch(:q, {}).fetch(:category_id_eq, nil)), include_blank: true, class: "form-control"
    = f.collection_select :account_id_eq, Budget::Account.all, :id, :name, {include_blank: true}, class: "form-control"
    = f.search_field :description_cont, placeholder: 'Search', class: 'form-control'
  .pull-right
    = link_to "Make Transfer", transferize_transaction_path(":from_id", ":to_id"), id: "transferize", class: "btn btn-danger"

%table#transactions.table.table-striped
  %thead
    %tr
      %td
      %td Date
      %td
      %td Description
      %td Amount
      %td.hidden-sm.hidden-xs Category
      %td.hidden-sm.hidden-xs Account

  %tbody
    - collection.each do |t|
      %tr{id: "transaction-#{t.id}", data: {id: t.id}}
        %td= check_box_tag ""
        %td= t.date
        %td= t.icon
        %td
          = t.linked_description(return_to: request.url)
          = t.notes_icon
        %td.amount{class: t.sign_class}= format_amount(t.cents)
        %td.hidden-sm.hidden-xs= t.category_name
        %td.hidden-sm.hidden-xs= t.account_name

.row-fluid
  .text-center= paginate collection, theme: "twitter-bootstrap-3"
