= page_header_with_add_button Budget::Category

%table.table.table-striped
  - [income, expenses].each do |categories|
    %colgroup
      %col{style: 'width: 5%'}
      %col
      %col{style: 'width: 10%'}
      %col{style: 'width: 15%'}
    %thead
      %tr
        %th{colspan: 99}= categories.first.parent_name
      %tr
        %th
        %th Name
        %th.text-center Budget
        %th.text-center Actions
    %tbody
      - categories.each do |category|
        %tr
          %td.text-center= category.icon
          %td= category.name
          %td.amount= format_amount category.budgeted_cents
          %td.text-center
            = category.link_to_edit
            = category.link_to_delete
