- model_class = Budget::Category

.page-header
  .pull-right
    = link_to 'New Category', new_category_path, class: 'btn btn-primary'
  %h1 Categories

%table.table.table-striped
  - [@income, @expenses].each do |categories|
    %colgroup
      %col{style: 'width: 5%'}
      %col
      %col{style: 'width: 10%'}
      %col{style: 'width: 15%'}
    %thead
      %tr
        %th{colspan: 99}= categories.first.parent.name
      %tr
        %th
        %th= model_class.human_attribute_name(:name)
        %th.text-center Budget
        %th.text-center= t '.actions', :default => t("helpers.actions")
    %tbody
      - categories.each do |category|
        %tr
          %td.text-center
            - if category.watched
              %i.fa.fa-eye.fa-2x
          %td= category.name
          %td.amount= number_to_currency(cents_to_dollars(category.budgeted_cents), unit: "")
          %td.text-center
            - if  category.can_edit?
              = link_to 'Edit', edit_category_path(category), class: 'btn btn-mini'
            - if category.can_destroy?
              = link_to 'Destroy', category_path(category), method: :delete, class: 'btn btn-mini btn-danger', data: {confirm: 'Are you sure?'}
